:root {
    --color-primero: #000000;
    --color-secundario: #eeff00;
    --color-tercero: #FFF;
    --color-sombra: rgba(0, 0, 0, 0.7);
    --color-texto-primero: rgb(99, 103, 114);
    --color-p:rgb(29, 41, 53);
  }

/*-----ESTILOS GENERALES--------------*/

*{
    box-sizing: border-box;
}

html{
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

body,
h2,
ul{
    margin: 0;
    padding: 0;  
}

body{
    position: relative;
}







/*-----MAQUETACIÓN PRINCIPAL CON GRID--------------*/

.contiene_todo{
    display: grid;
    position: relative;
    grid-template-columns: repeat(6,1fr);
    grid-template-areas: "cabecera cabecera cabecera cabecera cabecera cabecera"
                         "slider slider slider slider slider slider"
                         "about about about about about about"
                         "actividades actividades actividades actividades actividades actividades"
                         "lista lista lista lista lista lista"
                         "footer footer footer footer footer footer"
                         
}

.header{
    grid-area: cabecera;
}

.slider{
    grid-area: slider;
}

.aboutUs{
    grid-area: about;
}

.section-actividades{
    grid-area: actividades;
}

.section-lista{
    grid-area: lista;
}

.footer{
    grid-area: footer;
}













/* menu principal */

.header{
    width: 100%;
    padding: 10px 15px;
    position: fixed;
    z-index: 10;
    top: 0;
    /* height: 55px; */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    transition: all .3s ease;
    background-color: var(--color-primero);
}

.bg-scroll{
    background-color: rgba(0, 0, 0, 0.8);
}

.a_logo {
    /* width: 50px; */
    margin-left: 10px;
}

.a_logo .logo{
    width: 120px;
}

.button{
    background:none;
    border: none;
}

.burguer_menu{
    color: var(--color-secundario);
    font-size: 25px;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color .5s ease;
}

.burguer_menu:hover{
    background-color: var(--color-primero);
    color: var(--color-tercero);
    box-shadow: 0 0 5px var(--color-sombra);
}

.burguer-scroll{
    color: #FFF;
}

.header_nav{
    border-radius: 5px;
    height: 55px;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: all .5s ease;
    pointer-events: none; 
    background-color: rgba(10, 10, 8);
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_nav.activado{
    height: 42vh;
    min-height: max-content;
    pointer-events: auto; 
}

.nav_ul{
    list-style: none;
    padding: 10px 0;
    
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 1.5em;
}

.nav-a{
    text-decoration: none;
    font-family: "Segoe UI", "Segoe WP", Arial, sans-serif;;
    color: var(--color-tercero);
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1.5px;
    transition: color .5s ease;
}


.nav-a:hover{
    color: var(--color-primero);
}

.link-scroll{
    color: var(--color-tercero);
}












/* slider o portada */

.slider{
    width: 100%;
    margin-top: 55px;
    height: 80vh;
    background-image: url("../assets/portada2.jpg");
    background-color: #0f0f0f;
    /*filter: brightness(1.2);*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 100px;
}

.slider-bg{
    display: flex;
    width: inherit;
    height: inherit;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 79%);display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.slider-titles{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider-titles h1{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFF;
    letter-spacing: 2px;
    font-size: 20px;
    text-shadow: 0 0 5px black;
}

.slider-logo{
    width: 80px;
}

.slider-titles h1{
    text-align: center;
    text-shadow: 0 0 10px black;
    color: var(--color-tercero);
    font-size: 25px;
}

.slider-titles h2{
    text-align: center;
    padding: 0 20px;
    font-size: 20px;
    font-weight: 500;
    text-shadow: 0 0 10px black;
    color: var(--color-tercero);
    margin-bottom: 50px;
}

.btn-propuestas{
    color: #FFF;
    text-decoration: none;
    align-self: center;
    margin-bottom: 250px;
    font-size: 20px;
    padding: 7px 20px;
    border: 2px solid #FFF;
    border-radius: 10px;
    cursor: pointer;
    background-color: #0f0f0f7a;
    box-shadow: 0 2 10px black;
    transition: all .3s linear;
}

.btn-propuestas:hover{
    background-color: #eeff00;
    color:#0f0f0f;
    border-color: #0f0f0f;
}











/*Sobre nodotros*/

.aboutUs{
    margin-bottom: 100px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-nosotros{
    width: 100%;
    max-width: 600px;
}

.h2-nosotros{
    padding-top: 60px;
    padding-bottom: 20px;
    font-family: "Segoe UI", "Segoe WP", Arial, sans-serif;
}

.h2-nosotros-desktop{
    display: none;
}

.p-nosotros{
    font-family: "Segoe UI", "Segoe WP", Arial, sans-serif;
    color: #0f0f0f;
    font-size: 18px;
}

.p-nosotros b{
    background-color: #eeff00;
}

.text-nosotros{
    position: relative;
}

.full-text{
    display: none;
    transition: all .3s linear;
}

.btn-show-more-text{
    position: absolute;
    right: 10px;
    bottom: -30px;
    border: none;
    background-color:#0f0f0f;
    color: var(--color-tercero);
    padding: 10px;
    border-radius: 50%;
    font-size: 20px;
    font-weight: bolder;
}

.btn-show-more-text:hover{
    color: #eeff00;
}









/**actividades*/
.h2-actividades{
    padding-top: 50px;
    padding-bottom: 30px;
}


.section-actividades{
    
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

h2 .h2-actividades{
    text-align: center;

}

.mateada-cards{
    width: 100%;
    display: grid;
    position: relative;
    grid-template-columns: repeat(4,1fr);
    gap: 5px;
    grid-template-areas: "mateada mateada mateada mateada"
                        "pastelitos pastelitos sectSur sectSur"
                        "reunionone reunionone reunionone reunionone";
}

.article-mateada{
    grid-area: mateada;
}

.article-25-mayo{
    grid-area: pastelitos;
}

.article-sector-sur{
    grid-area: sectSur;
}

.article-reunionone{
    grid-area: reunionone;
}

.img-grid{
    width: 100%;
}

.grilla-texts{
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.grilla-texts h3{
    color: #4b5158;
    font-family: "Segoe UI", "Segoe WP", Arial, sans-serif;
    font-weight: 500;
    padding: 0;
    margin: 0;
    text-align: left;
}

.grilla-texts span{
    color: #4b5158;
    font-size: 12px;
}












/**aside redes*********/
.aside{
    position: fixed;
    right: 0;
    bottom: 10%;
    padding: 20px 5px;
    background-color: #FFF;
    border-radius: 5px;
}

.redes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.redes a i{
    font-size: 35px;
    color: #0f0f0f;
}

.redes a i:hover{
    color: var(--color-primero);
}












/***Lista*/
.section-lista{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.h2-lista{
    padding-top: 100px;
    margin-bottom: 50px;
    text-align: center;
    color: #4b5158;
    font-family: "Segoe UI", "Segoe WP", Arial, sans-serif;
}

.principales-candidatos{
    display: flex; 
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
    gap: 25px;
}


.img-candidato{
    width: 100%;
    max-width: 300px;
}


.contiene-textos-principales{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contiene-textos-principales p{
    margin: 0;
    padding: 0;
}

.list-title{
    text-align: center;
    margin: 20px 0;
    font-family: "Segoe UI", "Segoe WP", Arial, sans-serif;
}



/* cards */
.margin-top{
    margin-top: 100px;
 }

.contiene-imagen{
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
 }

 .contiene-imagen img{
    width: 100%;
    max-width: 300px;
    margin-right: auto;
    margin-left: auto;
 }

 .contiene-textos{
    color: var(--color-primero);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
 }

 .principales-candidatos{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
 }

 .contiene-textos h3{
    font-size: 20px;
 }

 .contiene-textos p{
    padding: 0;
    margin: 0;
 }



















/*------------FOOTER-------------*/

.footer{
    background-color: var(--color-primero);
    margin-top: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.menciones_flaticon{
    display: block;
    text-align: center;
    margin: 20px 0;
    color: var(--color-tercero);
    align-self: center;
}

/* logo whatsapp */

.whatsapp_logo img{
    width: 50px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 999;
    filter: saturate(2);
    border: 3px solid var(--color-tercero);
    border-radius: 100%;
    animation-name: whatsapp;
    animation-timing-function: linear;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transition: all .3s ease;
}


@keyframes whatsapp {
    0%{
        width: 50px;
    }
    50%{
        width: 70px;
        filter: saturate(4);
        box-shadow: 0 10px 10px var(--color-sombra);
    }
    100%{
        width: 50px;
    }
}














/**PÁGINATA DE PROPUESTAS*/
.contiene-propuestas{
    width: 100%;
    display: grid;
    position: relative;
    grid-template-columns: repeat(4,1fr);
    gap: 5px;
    grid-template-areas: "headerpro headerpro headerpro headerpro"
                         "protitles protitles protitles protitles"
                         "propuestas propuestas propuestas propuestas";
}

.prop-header{
    grid-area: headerpro;
}

.propuestas-titles{
    grid-area: protitles;
}

.h1-propuestas{
    color: #0f0f0f;
    margin-top: 100px;
}

.propuestas-main{
    grid-area: propuestas;
}










@media screen and (min-width:760px){

    .header{
        padding: 3px 3px;
        height: 55px;
    }


    .a_logo img{
        width: 60px;
        margin-left: 40px;
    }

    .button{
        margin-right: 40px;
    }

    /*sobre nosostros*/

    

}
















@media screen and (min-width:970px){

    .header_nav{
        width: fit-content;
        display: block;
        height: 55px;
        box-shadow: none;
        pointer-events: all;
        transition: none;
        margin-right: 20px;
        background: none;
        overflow: visible;
    }
    .header_nav.activado{
        flex-direction: row;
        height: fit-content;
    }

    .nav_ul{
        flex-direction: row;
        justify-content: space-between;
        height: 100%;
        /* background-color: var(--color-primero); */
        background-color: transparent;
        gap: 0;
        padding: 0 30px;
    } 
    
    .nav-a{
        display: inline-block;
        color: var(--color-texto-primero);
        padding: 18px 15px;
        font-weight: 400;
        font-size: 16px;
        border-radius: 5px;
        transition: all .4s ease;
    }

    .nav-a:hover{
        color: var(--color-tercero);
        background-color: var(--color-primero);
        box-shadow: 4px 4px 7px var(--color-sombra);
    }

    .link-scroll{
        color: #fff;
    }

    .button{
        display: none;
    }

    .principales-candidatos{
        flex-direction: row;
        align-items: baseline;
        justify-content: center;
    }

    .slider{
        height: 100vh;
    }

    .btn-propuestas{
        margin-bottom: 100px;
    }
}
